@page
@model Homework4Umbraco.Pages.SerialNumbers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List Of SerialNumbers</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber[0].SerialNumberID)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SerialNumber) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumberID)
            </td>
           
        </tr>
}
    </tbody>
</table>
